@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-width: 100vh;
    background-color: rgb(255, 0, 0);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 10px;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}
section{
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}
section.normal{
    background-color: white;
    color: rgb(235, 9, 9);
}
section.imagem{
    background-color: rgba(44, 44, 44, 0.726);
    color: white;
}
section.imagem > p {
    background-color: black;
    width:250px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
footer{
    margin-top: 15px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.623);
    text-align: center;
}